
#otto {
  bottom: 0;
  float: left;
  padding-left: 30%;
  padding-right: 5%;
  margin-top: 5%;
  width: 38%;
}

@media screen and (max-width: 480px){
  #otto {
    order:2;
    margin-top: 50%;
    padding-left: 5%;
    padding-right: 5%;
    width: 80%;
  }
}